.background-overlay3 {
    position: relative;
}

.background-overlay3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6); /* 10% black */
    z-index: 1;
}

.background-overlay3 > * {
    position: relative;
    z-index: 2;
}