.pulse {
    animation: up 2s infinite;
}

@keyframes up {
    0%, 100% {
        transform: scale(.95);
        animation-timing-function: cubic-bezier(0.9,0,1.9,1.9);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
