

@keyframes up {
    0%, 100% {
        transform: scale(.95);
        animation-timing-function: cubic-bezier(0.9,0,1.9,1.9);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

.main-content {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: -1rem;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.kinera-title {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    margin-top: 0rem;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
}

.logo-img {
    width: 51rem;
    height: auto;
}

/* Desktop Styles */
@media (min-width: 769px) {
    .logo-img {
        width: 42rem; /* Original width 51rem * 1.15 */
    }
}

/* Tablet and Small Laptop Styles */
@media (max-width: 1024px) and (min-width: 769px) {
    .logo-img {
        width: 69rem; /* Original width 60rem * 1.15 */
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .kinera-title {
        font-size: 55px; /* Adjust font size for mobile */
    }

    .content-wrapper p {
        font-size: 16px; /* Adjust text size for mobile */
    }

    .logo-img {
        width: 34.5rem; /* Adjusted width for mobile */
        margin: 0 auto; /* Center the logo */
    }
}

/* Additional styles for very small screens, if necessary */
@media (max-width: 480px) {
    .logo-img {
        width: 29rem; /* Adjust for smaller smartphones */
    }
}

.description {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 1rem; /* Added this line */
    margin-bottom: -2rem; /* Added this line */
}

.description2 {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 2rem; /* Added this line */
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem; /* Added this line */
}

.info-button {
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: white;
    color: black;
    font-weight: bold;
    margin-top: -2rem; /* Added this line */
    margin-bottom: 2rem; /* Added this line */
}

.icon {
    color: pink;
    font-size: 1rem;
}

.background-image2 {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    background-size: cover;
    background-position: center center;
}

/* Desktop Styles */
@media (min-width: 1400px) {
    .logo-img {
        width: 75rem; /* Ajuste o tamanho conforme necessário */
        /* Outros estilos específicos para monitores maiores aqui, se necessário */
    }
}

/* Desktop Styles */
@media (min-width: 1400px) {
    .kinera-title {
        font-size: 100px; /* Ajuste o tamanho do título conforme necessário */
        /* Outros estilos específicos para monitores maiores aqui, se necessário */
    }
}


.card-home-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.card-home {
    background-color: #fbe3f0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin: 0 auto; /* This centers the content */
    max-width: 900px;
    width: 1000px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: flex-start; /* Centraliza verticalmente o conteúdo */
    text-align: justify;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 80px; /* Altura mínima do card */
    flex-grow: 1; /* Permite que o card cresça para ocupar o espaço disponível */
}

.card-home:first-of-type {
    margin-top: 0;
}

.card-home:hover {
    background-color: rgba(205, 77, 145, 0.0); /* Muda a cor de fundo ao passar o mouse */
  }

  /* Desktop Styles */
@media (max-width: 768px) {
    .card-home {
        max-width: 400px;
    }
}