

.card-structure {
    background-color: rgba(242, 103, 173, 0.602);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 1200px;
    width: auto;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100px; /* Altura mínima do card */
    flex-grow: 1; /* Permite que o card cresça para ocupar o espaço disponível */
    transition: background-color 0.3s ease; /* Suaviza a transição da cor de fundo */
}

.card:first-of-type {
    margin-top: 0;
}

.card-structure:hover {
  background-color: rgba(247, 74, 166, 0.321); /* Muda a cor de fundo ao passar o mouse */
}