.card-structure {
  background-color: rgba(248, 205, 226, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  margin: 0 auto; /* This centers the content */
  max-width: 900px;
  width: 1000px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  text-align: justify;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 80px; /* Altura mínima do card */
  flex-grow: 1; /* Permite que o card cresça para ocupar o espaço disponível */
  
}

.card:first-of-type {
  margin-top: 0;
}

.card-structure:hover {
background-color: rgba(255, 255, 255, 0.234);
}

.grid-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 45px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

/* Ajustes para dispositivos móveis */
@media screen and (max-width: 768px) {
  .grid-cards-container {
    gap: 0px;
  }
}