.background-overlay2 {
    position: relative;
}

.background-overlay2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(252, 173, 218, 0.558); /* 10% black */
    z-index: 1;
}

.background-overlay2 > * {
    position: relative;
    z-index: 2;
}