.background-overlay4 {
    position: relative;
}

.background-overlay4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(245, 196, 224, 0.699); /* 10% black */
    z-index: 1;
}

.background-overlay4 > * {
    position: relative;
    z-index: 2;
}