.background-overlay4 {
    position: relative;
}

.background-overlay4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 245, 250, 0.0);
    z-index: 1;
}

.background-overlay4 > * {
    position: relative;
    z-index: 2;
}

.card-kine {
    background-color: #fbe3f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin: 0 auto; /* This centers the content */
    max-width: 900px;
    width: 1000px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: flex-start; /* Centraliza verticalmente o conteúdo */
    text-align: justify;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 80px; /* Altura mínima do card */
    flex-grow: 1; /* Permite que o card cresça para ocupar o espaço disponível */
}

.card-kine:first-of-type {
    margin-top: 0;
}

.card-kine:hover {
    background-color: rgba(172, 150, 183, 0.559);
}

@media (max-width: 640px) {
    .card-kine {
        margin: 20px 0; /* Consistent margin for top and eliminates side margins */
        padding: 20px; /* Consistent padding */
        width: 100%; /* Ensures card stretches to full width of its container */
        max-width: none; /* Removes max-width constraint */
    }

    /* If there's a .card-kine-container class being used */
    .card-kine-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
        padding: 0 5%; /* Adjusting for consistent padding without affecting width */
    }
}

.chart-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}