.background-overlayFunding {
    background-color: #fdeff4; /* Define a cor de fundo */
    position: relative;
}

.card-funding-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.card-funding {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 900px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 80px;
    flex-grow: 1;
    transition: all 3s ease !important; /* Alterei para "all" */
}

.card-funding:first-of-type {
    margin-top: 0;
}

.card-funding:hover {
    background-color: #fbdfed;
}

@media (max-width: 640px) {
    .card-funding {
        margin: 20px 0;
        padding: 20px;
        width: 100%;
        max-width: none;
    }

    .card-funding-container {
        width: 90%;
        margin: 0 auto;
        padding: 0 5%;
    }
}